body{
    background-color:rgb(31, 31, 31);
    color:rgb(202, 200, 200);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:28px;
    text-align:center;
}
img{
    height:200px;
    width:auto;
}
